:root {
  --dark-color: #212529;
  --darkgray-color: #999;
  --dark-transparent-color: rgba(33,37,41, 0.25);
  --gray-color: #aaaaaa;
  --lightgray-color: #dddddd;
  --lightgray-transparent-color: rgba(221,221,221, 0.25);
  --main-color: #5285c5;
  --main-transparent-color: rgba(82, 133, 197, 0.25);
  --muted-color: #212529bf;
  --red-color: #f00;
  --white-color: #fff;
}

.App { text-align: center; }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo { 
    height: 7rem;
    width: 7rem;
    /* animation: App-logo-spin infinite 20s linear;  */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link { color: var(--main-color); text-decoration: none; }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
